@{
    var Request = HttpContext.Current.Request;
    string Address = Request.Url.Scheme + "://" + Request.Url.Authority + Request.ApplicationPath.TrimEnd('/');
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="@Address/Sources/CSS/bootstrap.min.css">
    <link rel="stylesheet" href="@Address/Sources/CustomCSS/layout.css">
    <link rel="shortcut icon" href="@Address/Sources/src/perusahaan.jpg" type="image/x-icon">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <script src="@Address/Sources/Scripts/jquery-3.4.1.min.js"></script>
    <script src="@Address/Sources/Scripts/bootstrap.js"></script>
    <script src="@Address/Sources/Scripts/bootstrap.min.js"></script>
    <script src="@Address/Sources/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="@Address/Sources/Scripts/jquery.form.js"></script>
    <script>Address = '@Address'</script>
</head>
<body>
    <div class="split left layout-menu p-3">
        <a href="@Url.Action("Index", "Thread")">
            <img src="@Address/Sources/src/perusahaan.png" alt="Logo" class="border-0 border-rounded">
        </a>

        <hr class="w-75">
        <div class="d-flex flex-column justify-content-center">
            <a href="@Url.Action("Index", "Profile")"><img src="@Address/Sources/src/user-icon.png" id="userlogo" alt="Profile"></a>
            <a href="@Url.Action("Index", "Schedule")"><img src="@Address/Sources/src/calendar-icon.png" alt="Schedule"></a>
            <a href="@Url.Action("Index", "Assignment")"><img src="@Address/Sources/src/assignment-icon.png" alt="Assignment"></a>
            <a href="@Url.Action("AboutUs", "Home")"><img src="@Address/Sources/src/call-icon.png" alt="Contact"></a>
            @*@if (Session.Role["admin"])
            {*@
                <a href="@Url.Action("Index", "User")"><img src="@Address/Sources/src/checkmark-flat.png" alt="VerifyUser"></a>
            @*}*@
        </div>
        <hr class="w-75">
        <a href="@Url.Action("Index", "Login")"><img src="@Address/Sources/src/signout.png" alt=""></a>
    </div>

    <div class="split right">
        @RenderBody()
        <footer class="page-footer font-small blue">
            <div class="footer-copyright text-center py-3">
                &copy; 2020 Copyright: Kelompok 1
            </div>
        </footer>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>