@model Binus.SampleWebAPI.Web.ViewModels.AssignmentViewModel
@{
    ViewBag.Title = "Assignment";
}
@*css yg ini hrus berurutan*@
<link rel="stylesheet" href="~/Sources/CustomCSS/index.css">
<link rel="stylesheet" href="~/Sources/CustomCSS/assignment.css">

<script src="~/Sources/PageJS/Backend/assignment.js"></script>
<script src="~/Sources/PageJS/index.js"></script>

<div class="container">
    @* Insert *@
    @using (Ajax.BeginForm("Insert", "Assignment", new AjaxOptions
    {
        HttpMethod = "POST",
        OnSuccess = "LoadResult(data)"
    }, new { id = "form-upload-assignment", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <!-- Modal -->
        <div id="insertModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Modal Header</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row Data">
                            <div class="col-sm-12">
                                <div class="alert alert-info alert-dismissable" id="MessageContainer">
                                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                    <span id="Message"></span>
                                </div>
                                <input type="hidden" id="txtAssignmentID" name="AssignmentID" />
                                <div class="form-group">
                                    <label for="txtTitle">Title:</label>
                                    <input type="text" class="form-control input-lg" required id="txtTitle" name="Title">
                                </div>
                                <div class="form-group">
                                    <label for="txtDesc">Description:</label>
                                    <input type="text" class="form-control input-lg" required id="txtDesc" name="Description">
                                </div>
                                <div class="form-group">
                                    <label for="txtDateDue">Date Due:</label>
                                    <input type="datetime-local" class="form-control input-lg" required id="txtDateDue" name="DateDue">
                                </div>
                                <div class="form-group">
                                    <label for="txtAssignmentFilePath">File:</label>
                                    <input type="file" id="assignment-file" class="form-control input-lg" required name="postedFile" />
                                    <progress value="0"></progress>
                                    <input type="hidden" id="txtAssignmentFilePath" name="AssignmentFilePath" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" id="submit-assignment" class="btn btn-danger">Submit</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    }
    @using (Ajax.BeginForm("UploadAnswer", "Assignment", new AjaxOptions
    {
        HttpMethod = "POST",
        OnSuccess = "LoadResult(data)"
    }, new { id = "form-upload-answer", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <div id="uploadAnswer" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Modal Header</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row Data">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="txtAssignmentFilePath">File:</label>
                                    <input type="hidden" id="userid" value="@Session["UserID"]" name="UserID" />
                                    <input type="hidden" id="assignment-name" name="Title" />
                                    <input type="hidden" id="assignment-id" name="AssignmentID" />
                                    <input type="file" id="answer-file" class="form-control input-lg" required name="postedFile" />
                                    <progress value="0"></progress>
                                    <input type="hidden" id="txtAnswerFilePath" name="AnswerFilePath" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-danger">Submit</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    }
</div>
<div class="layout-header p-3">
    <div class="text-white">
        <h1>
            <i>Current Assignment</i>
            <label class="switch">
                <input type="checkbox" name="c1" onclick="myFunction()">
                <span class="slider round"></span>
            </label>
        </h1>
    </div>
</div>
@* Assignment Item *@
@foreach (var Item in Model.GetCurrentAssignment())
{
    <div id="myDIV2" class="layout-content p-4 text-justify">
        <div class="assignment-box">
            <div class="float-left">
                <h1 style="cursor: pointer;"><a data-toggle="modal" data-target="#detailModal" data-title="@Item.Title" data-description="@Item.Description" data-due="@Item.DateDue">@Item.Title</a></h1>
            </div>
            <div class="float-left">
            </div>
            <div class="tombol-upload float-right">
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#insertModal" data-type="edit" data-id="@Item.AssignmentID">Edit</button>
                <button onclick="Delete(@Item.AssignmentID)" class="btn btn-danger">Delete</button>
                @* buttons *@
                <a href="@Url.Action("DownloadFile", "Assignment",  new { fileName = Item.AssignmentFilepath })" class="image-upload">
                    <img src="~/Sources/icons/download.svg" title="Download Case" />
                </a>
                <a href="@Url.Action("", "Assignment",  new { })" class="image-upload" data-toggle="modal" data-target="#uploadAnswer" data-title="@Item.Title" data-id="@Item.AssignmentID">
                    <img src="~/Sources/icons/upload.svg" title="Upload Answer" />
                </a>
                <a href="@Url.Action("DownloadAnswer", "Assignment",  new { AssignmentID = Item.AssignmentID })" class="image-upload">
                    <img src="~/Sources/icons/archive.svg" title="Download Answer" />
                </a>
            </div>
        </div>
    </div>
}


<div class="layout-header p-3">
    <div class="text-white">
        <h1>
            <i>Past Assignment</i>
            <label class="switch">
                <input type="checkbox" name="c1" onclick="myFunction2()">
                <span class="slider round"></span>
            </label>
        </h1>
    </div>
</div>
@* Assignment Item *@
@foreach (var Item in Model.GetPastAssignment())
{
    <div id="myDIV2" class="layout-content p-4 text-justify">
        <div class="assignment-box">
            <div class="float-left">
                <h1 style="cursor: pointer;"><a data-toggle="modal" data-target="#detailModal" data-title="@Item.Title" data-description="@Item.Description" data-due="@Item.DateDue">@Item.Title</a></h1>
            </div>
            <div class="float-left">
            </div>
            <div class="tombol-upload float-right">
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#insertModal" data-type="edit" data-id="@Item.AssignmentID">Edit</button>
                <button onclick="Delete(@Item.AssignmentID)" class="btn btn-danger">Delete</button>
                @* buttons *@
                <a href="@Url.Action("DownloadFile", "Assignment",  new { fileName = Item.AssignmentFilepath })" class="image-upload">
                    <img src="~/Sources/icons/download.svg" title="Download Case"/>
                </a>
                <a href="@Url.Action("", "Assignment",  new { })" class="image-upload" data-toggle="modal" data-target="#uploadAnswer" data-title="@Item.Title" data-id="@Item.AssignmentID">
                    <img src="~/Sources/icons/upload.svg" title="Upload Answer"/>
                </a>
                <a href="@Url.Action("DownloadAnswer", "Assignment",  new { AssignmentID = Item.AssignmentID })" class="image-upload">
                    <img src="~/Sources/icons/archive.svg" title="Download Answer"/>
                </a>
            </div>
        </div>
    </div>
}

@* Assignment Detail Modal *@
<div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="text-align: left;">
            <div class="modal-header">
                <h5 class="modal-title" id="detail-title">Assignment title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            
            <div class="modal-body" style="text-align: left;">
                <div>Description: </div>
                <p id="detail-description">Assignment Detail</p>
            </div>
            
            <div class="modal-body" style="text-align: left;">
                <div>Due Date: </div>
                <p id="detail-due">Due date</p>
            </div>
        </div>
    </div>
</div>
<div class="pull-right"><button type="button" class="btn btn-success" data-toggle="modal" data-target="#insertModal">Add</button> </div>
<script src="~/Sources/PageJS/Backend/assignment.js"></script>