@model Binus.SampleWebAPI.Web.ViewModels.AssignmentViewModel
@{
    ViewBag.Title = "Assignment";
}

<h2>Assignment</h2>

<div class="container">
    <br />
    <div class="pull-right"><button type="button" class="btn btn-success" data-toggle="modal" data-target="#insertModal">Add</button> </div>
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Date Due</th>
                <th>FilePath</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Item in Model.assignments)
            {
                <tr>
                    <td>@Item.Title</td>
                    <td>@Item.Description</td>
                    <td>@Item.DateDue</td>
                    <td>@Item.AssignmentFilepath</td>
                    <td>
                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#insertModal" data-type="edit" data-id="@Item.AssignmentID">Edit</button>
                        <button onclick="Delete(@Item.AssignmentID)" class="btn btn-danger">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>


    @* Insert *@
    @using (Ajax.BeginForm("Insert", "Assignment", new AjaxOptions
    {
        HttpMethod = "POST",
        OnSuccess = "LoadResult(data)"
    }, new { id = "form" }))
    {
        @Html.AntiForgeryToken()

        <!-- Modal -->
        <div id="insertModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Modal Header</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row Data">
                            <div class="col-sm-12">
                                <div class="alert alert-info alert-dismissable" id="MessageContainer">
                                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                    <span id="Message"></span>
                                </div>
                                <input type="hidden" id="txtAssignmentID" name="AssignmentID" />
                                <div class="form-group">
                                    <label for="txtTitle">Title:</label>
                                    <input type="text" class="form-control input-lg" required id="txtTitle" name="Title">
                                </div>
                                <div class="form-group">
                                    <label for="txtDesc">Description:</label>
                                    <input type="text" class="form-control input-lg" required id="txtDesc" name="Description">
                                </div>
                                <div class="form-group">
                                    <label for="txtDateDue">Date Due:</label>
                                    <input type="datetime-local" class="form-control input-lg" required id="txtDateDue" name="DateDue">
                                </div>
                                <div class="form-group">
                                    <label for="txtAssignmentFilePath">File:</label>
                                    <input type="text" class="form-control input-lg" required id="txtAssignmentFilePath" name="AssignmentFilePath">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-danger">Submit</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    }
</div>

<script src="~/Sources/PageJS/Backend/assignment.js"></script>