@model Binus.SampleWebAPI.Web.ViewModels.ScheduleViewModel
@{

    ViewBag.Title = "Index";
}
@{
    Layout = null;
    string Address = Request.Url.Scheme + "://" + Request.Url.Authority + Request.ApplicationPath.TrimEnd('/');
}
<!DOCTYPE html>

<html>
<head>
    <script type="text/javascript" src="/scripts/jquery.min.js"></script>
    <script type="text/javascript" src="/scripts/moment.min.js"></script>
    <script type="text/javascript" src="/scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="/scripts/bootstrap-datetimepicker.*js"></script>
    <link rel="stylesheet" href="/Content/bootstrap-datetimepicker.css" />
    <link href="@Address/Sources/CSS/bootstrap.min.css" rel="stylesheet" />
    <link href="@Address/Sources/CSS/signin.css" rel="stylesheet" />
</head>

<body>



    <div class="wrapper">

        @using (Html.BeginForm("CreateSchedule", "Schedule", FormMethod.Post)) {
            <label>Topic</label>
            <input type="text" name="Topic" placeholder="Topic" />
            <label>Desc</label>
            <input type="text" name="Description" placeholder="Decscscscs" />
            <label>place</label>
            <input type="text" name="Place" placeholder="ples" />
            <input type="datetime-local" value="12/31/2020 12:59:00 PM" name="StartTime" />
            <input type="datetime-local" value="12/31/2020 12:59:00 PM" name="EndTime" />
            <button type="submit">submit</button>
        }
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>Book Title</td>
                <td>Book Desc</td>
                <td>Book Qty</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var Data in Model.ListSchedule) {
                <tr>
                    <td>@Data.ScheduleID</td>
                    <td>@Data.Place</td>
                    <td>@Data.Topic</td>
                    <td>
                        @Html.ActionLink("Delete", "DeleteSchedule", Data)
                        <div class="wrapper">

                            @using (Html.BeginForm("UpdateSchedule", "Schedule", FormMethod.Post)) {
                                <label>@Data.ScheduleID</label>
                                <input type="hidden" name="ScheduleID" value="@Data.ScheduleID"/>
                                <label>Topic</label>
                                <input type="text" name="Topic" placeholder="Topic" />
                                <label>Desc</label>
                                <input type="text" name="Description" placeholder="Decscscscs" />
                                <label>place</label>
                                <input type="text" name="Place" placeholder="ples" />
                                <input type="datetime-local" value="12/31/2020 12:59:00 PM" name="StartTime" />
                                <input type="datetime-local" value="12/31/2020 12:59:00 PM" name="EndTime" />
                                <button type="submit">submit</button>
                            }
                        </div>




                    </td>
                </tr>
            }
        </tbody>
    </table>
    @*utk update schedule nanti bikin pop upnya aja*@
    @*<div class="wrapper">
            @using (Ajax.BeginForm("UpdateSchedule", "Schedule", new AjaxOptions {
                HttpMethod = "POST",
                OnBegin = "Loader"
            }, new { id = "form2", @class = "form-signin" })) {
                @Html.AntiForgeryToken()
                <h2 class="form-signin-heading">Sign In</h2>
                <input type="text" class="form-control" name="Place" placeholder="place" required="">
                <input type="text" class="form-control" name="Topic" placeholder="topic" required="">
                <input type="text" class="form-control" name="Description" placeholder="desc" required="">
                <input type="password" class="form-control" name="Password" placeholder="Password" required="">
                <span id="divMessage" style="color:red"></span>
                <button class="btn btn-lg btn-danger btn-block" type="submit" id="btnLoginDB" name="DB">Login</button>
                <br />
                <p>Login Information: U:admin P:admin</p>
            }
        </div>*@
    <script src="@Address/Sources/Scripts/jquery-3.1.1.min.js"></script>
    <script src="@Address/Sources/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="@Address/Sources/Scripts/jquery.form.js"></script>
    <script src="@Address/Sources/Scripts/bootstrap.js"></script>
    <script src="@Address/Sources/Scripts/respond.js"></script>
</body>

</html>
