@model Binus.SampleWebAPI.Web.ViewModels.PostViewModel
@{

    ViewBag.Title = "Index";
}
@{
    Layout = null;
    string Address = Request.Url.Scheme + "://" + Request.Url.Authority + Request.ApplicationPath.TrimEnd('/');
}
<!DOCTYPE html>

<html>
<head>
    <script type="text/javascript" src="/scripts/jquery.min.js"></script>
    <script type="text/javascript" src="/scripts/moment.min.js"></script>
    <script type="text/javascript" src="/scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="/scripts/bootstrap-datetimepicker.*js"></script>
    <link rel="stylesheet" href="/Content/bootstrap-datetimepicker.css" />
    <link href="@Address/Sources/CSS/bootstrap.min.css" rel="stylesheet" />
    <link href="@Address/Sources/CSS/signin.css" rel="stylesheet" />
</head>

<body>

    <table class="table table-bordered">
        <thead>
        </thead>
        <tbody>
                <tr>
                    <td>
                        <strong>
                            @Model.Thread.Title
                        </strong>
                        by @Model.Thread.Name
                        <p>
                            @Model.Thread.Content
                        </p>
                    </td>
                      <td>
                            @Html.ActionLink("Delete", "DeleteThread", "Thread", Model.Thread, null)
                            <div class="wrapper">
                                @using (Html.BeginForm("UpdateThread", "Thread", FormMethod.Post))
                                {
                                    <input type="hidden" name="ThreadID" value="@Model.Thread.ThreadID" />
                                    <input type="hidden" name="UserID" value="@Model.Thread.UserID" />
                                    <label>Title</label>
                                    <input type="text" name="Title" placeholder="Title" value="@Model.Thread.Title" />
                                    <label>Content</label>
                                    <input type="text" name="Content" placeholder="Content" value="@Model.Thread.Content" />
                                    <button type="submit">submit</button>
                                }
                            </div>
                      </td>
                </tr>
        </tbody>
    </table>

    <div class="wrapper">
        @using (Html.BeginForm("CreatePost", "Post", FormMethod.Post))
        {
            <input type="hidden" name="ThreadID" value="" />
            <input type="hidden" name="UserID" value="" />
            <label>Reply</label>
            <input type="text" name="Content" placeholder="Reply" />
            <button type="submit">send</button>
        }
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>Reply</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody>

            @foreach (var Data in Model.ListPost)
            {
                <tr>
                    <td>
                        @Data.Name replies:
                        <p>@Data.Content</p>
                    </td>
                    <td>
                        @Html.ActionLink("Delete", "DeletePost", Data)
                        <div class="wrapper">
                            @using (Html.BeginForm("UpdatePost", "Post", FormMethod.Post))
                            {
                                <input type="hidden" name="PostID" value="@Data.PostID" />
                                <input type="hidden" name="ThreadID" value="@Data.ThreadID" />
                                <input type="hidden" name="UserID" value="@Data.Content" />
                                <label>Reply</label>
                                <input type="text" name="Content" placeholder="Reply" value="@Data.Content" />
                                <button type="submit">edit</button>
                            }
                        </div>

                    </td>
                </tr>
            }
        </tbody>
    </table>

    <script src="@Address/Sources/Scripts/jquery-3.1.1.min.js"></script>
    <script src="@Address/Sources/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="@Address/Sources/Scripts/jquery.form.js"></script>
    <script src="@Address/Sources/Scripts/bootstrap.js"></script>
    <script src="@Address/Sources/Scripts/respond.js"></script>

</body>

</html>
