@model Binus.SampleWebAPI.Web.ViewModels.ThreadViewModel
@{

    ViewBag.Title = "Index";
}
@{
    Layout = null;
    string Address = Request.Url.Scheme + "://" + Request.Url.Authority + Request.ApplicationPath.TrimEnd('/');
}
<!DOCTYPE html>

<html>
<head>
    <script type="text/javascript" src="/scripts/jquery.min.js"></script>
    <script type="text/javascript" src="/scripts/moment.min.js"></script>
    <script type="text/javascript" src="/scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="/scripts/bootstrap-datetimepicker.*js"></script>
    <link rel="stylesheet" href="/Content/bootstrap-datetimepicker.css" />
    <link href="@Address/Sources/CSS/bootstrap.min.css" rel="stylesheet" />
    <link href="@Address/Sources/CSS/signin.css" rel="stylesheet" />
</head>

<body>

    <div class="wrapper">

        @using (Html.BeginForm("CreateThread", "Thread", FormMethod.Post))
        {
            <input type="hidden" name="UserID" value="" />
            <label>Title</label>
            <input type="text" name="Title" placeholder="Title" />
            <label>Content</label>
            <input type="text" name="Content" placeholder="Content" />
            <button type="submit">submit</button>
        }
    </div>

    <h1>Announcement</h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>Announcement</td>
            </tr>
        </thead>
        <tbody>
            
            @try{

                foreach (var Data in Model.ListThread)
                {
                    if (Data.Role == "admin")
                    {
                    <tr>
                        <td>
                            @Html.ActionLink(@Data.Title, "ToPost", Data) by @Data.Name
                            <br />
                            <p>@Data.Content</p>
                        </td>
                    </tr>

                    }
                }
            } catch (Exception ex) {
                throw ex;
            }

        </tbody>
    </table>

    <br />

    <h1>Forum</h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>Thread</td>
            </tr>
        </thead>
        <tbody>
            @if (Model.ListThread != null)
            {
                foreach (var Data in Model.ListThread)
                {
                    if(Data.Role == "approved")
                    {
                    <tr>
                        <td>
                            @Html.ActionLink(@Data.Title, "ToPost", Data) by @Data.Name
                            <br />
                            <p>@Data.Content</p>
                        </td>
                    </tr>
                    }
                }
            }

        </tbody>
    </table>

    <script src="@Address/Sources/Scripts/jquery-3.1.1.min.js"></script>
    <script src="@Address/Sources/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="@Address/Sources/Scripts/jquery.form.js"></script>
    <script src="@Address/Sources/Scripts/bootstrap.js"></script>
    <script src="@Address/Sources/Scripts/respond.js"></script>

</body>

</html>
