@model Binus.SampleWebAPI.Web.ViewModels.ThreadViewModel
@{
    ViewBag.Title = "Thread";
}
@{
    Layout = null;
    string Address = Request.Url.Scheme + "://" + Request.Url.Authority + Request.ApplicationPath.TrimEnd('/');
}
<!DOCTYPE html>

<link rel="stylesheet" href="~/Sources/CustomCSS/thread.css">

<div class="layout-header p-3">
    <h1 class="text-white"><i>Thread Title@*@Model.UserThread.Title*@</i></h1>
</div>

    <div class="wrapper">
        @Html.ActionLink("Insert Thread", "", "Thread", new { }, new { @class = "btn btn-info", data_toggle = "modal", data_target = "#insertModal" })
    </div>

    <h1>Announcement</h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>Announcement</td>
            </tr>
        </thead>
        <tbody>
            
            @try{

                foreach (var Data in Model.ListThread)
                {
                    if (Data.Role == "admin")
                    {
                        <tr>
                            <td>
                                @Html.ActionLink(@Data.Title, "ToPost", Data) by @Data.Name
                                <br />
                                <p>@Data.Content</p>
                            </td>
                        </tr>

                    }
                }
            } catch (Exception ex) {
                throw ex;
            }

        </tbody>
    </table>

    <br />

    <h1>Forum</h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>Thread</td>
            </tr>
        </thead>
        <tbody>
            @if (Model.ListThread != null)
            {
                foreach (var Data in Model.ListThread)
                {
                    if (Data.Role == "approved")
                    {
                        <tr>
                            <td>
                                @Html.ActionLink(@Data.Title, "ToPost", Data) by @Data.Name
                                <br />
                                <p>@Data.Content</p>
                            </td>
                        </tr>
                    }
                }
            }

        </tbody>
    </table>


    @* Insert *@
    @using (Ajax.BeginForm("CreateThread", "Thread", new AjaxOptions
    {
        HttpMethod = "POST",
        OnSuccess = "LoadResult(data)"
    }, new { id = "form-create-thread", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <!-- Modal -->
        <div id="insertModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Modal Header</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row Data">
                            <div class="col-sm-12">
                                <div class="alert alert-info alert-dismissable" id="iMessageContainer">
                                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                    <span id="Message"></span>
                                </div>
                                <input type="hidden" name="UserID" value="" id="itxtUserID"/>
                                <div class="form-group">
                                    <label for="txtTitle">Title</label>
                                    <input type="text" name="Title" placeholder="Title" class="form-control input-lg" required id="itxtTitle"/>
                                </div>
                                <div class="form-group">
                                    <label for="txtContent">Content</label>
                                    <input type="text" name="Content" placeholder="Content" class="form-control input-lg" required id="itxtContent"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" id="submit-thread" class="btn btn-danger">Submit</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    }

    <script src="@Address/Sources/Scripts/jquery-3.1.1.min.js"></script>
    <script src="@Address/Sources/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="@Address/Sources/Scripts/jquery.form.js"></script>
    <script src="@Address/Sources/Scripts/bootstrap.js"></script>
    <script src="@Address/Sources/Scripts/respond.js"></script>
    <script src="~/Sources/PageJS/Backend/thread.js"></script>

<div class="layout-content p-5 text-justify h-100">
    <div class="thread-title p-3 b-3 border-rounded">
        <p>
            @*@Model.UserThread.Content*@
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi consequatur, omnis aliquam laborum
            ipsum veritatis? Eum dolores, aliquam provident quis, amet, obcaecati sed odit ab sapiente placeat
            explicabo ipsa. Deleniti!
        </p>
    </div>

    <div class="reply-box m-3 border-rounded">
        <div class="reply-left text-center d-inline-block m-1 p-3">
            <img src="~/Sources/src/user-icon.png" alt="">
            <p>Username@*@Model.ListReply.Title*@</p>
        </div>
        <div class="reply-right d-inline-block m-1 p-3">
            <p>
                @*@Model.ListReply.Content*@
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi consequatur, omnis aliquam laborum
                ipsum veritatis? Eum dolores, aliquam provident quis, amet, obcaecati sed odit ab sapiente placeat
                explicabo ipsa. Deleniti!
            </p>
        </div>
    </div>
</div>
<button type="button" class="btn btn-primary rounded-circle floating-button" data-toggle="modal"
        data-target="#exampleModalLong">
    <img class="w-75" src="~/Sources/icons/chat.svg" alt="">
</button>
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Reply Thread</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body d-flex flex-column border-rounded">
                <textarea name="postContent" id="" cols="30" rows="10" placeholder="Content" class="m-1 p-1"
                          style="border-radius: 3px"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Reply</button>
                </div>
    </div>
</div>
</body>

</html>
